node_modules
.next
.git
.gitignore

*.md
LICENSE

.env*
.env.local
.env.*.local

.vercel
.cursor

__tests__
coverage
vitest.config.mts

.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile
.dockerignore
docker-compose.yml
